.about_proj_title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #5aaa88;
}

.about_proj_sub_title .label {
    -fx-font-size: 20px;
}

.about_proj_sub_title .hyperlink {
    -fx-font-size: 20px;
    -fx-underline: false;
    -fx-border-color: transparent;
}