.root, .anchor-pane, .border-pane, .split-pane, .scroll-pane, .menu-bar, .tooltip {
    -fx-background-color: #e6e6ff;
    -fx-border-color: #919b9a;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #e6e6ff;
}

.button, .choice-box, .combo-box {
    -fx-background-color: linear-gradient(to bottom, #e6e6ff 60%, #b3b3ff);
    -fx-border-color: #919b9a;
}

.button:hover, .choice-box:hover, .combo-box:hover {
    -fx-background-color: linear-gradient(to bottom, #ffffff 60%, #b3b3ff);
}

.button:disabled, .choice-box:disabled, .combo-box:disabled {
    -fx-background-color: #b0b096;
}

* {
    -fx-text-fill: #00001a;
}
