.root, .anchor-pane, .border-pane, .split-pane, .scroll-pane, .menu-bar {
    -fx-background-color: #ece9d0;
    -fx-border-color: #919b9a;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #ece9d0;
}

.button, .choice-box, .combo-box {
    -fx-background-color: linear-gradient(to bottom, #ece9d0 60%, #dad5a4);
    -fx-border-color: #919b9a;
}

.button:hover, .choice-box:hover, .combo-box:hover {
    -fx-background-color: linear-gradient(to bottom, #f8f7ed 60%, #dad5a4);
}

.button:disabled, .choice-box:disabled, .combo-box:disabled {
    -fx-background-color: #b0b0b0;
}

* {
    -fx-text-fill: #121107;
}
